
@media (max-width: 768px) {
  /* Your styles here */

  a.navbar-brand{
    font-size: 1.3rem!important;
  }




.about-skills{
    flex-direction: column;
}

.hero-text h1{
    font-size: 3rem;
}
.project-hover-image{
  
    bottom: -2% !important;
    width: 250px !important;
}
.project-hover-image,img{
  width: 250px !important;
}

}

/* Apply styles only on screens wider than 1200px */
@media (min-width: 1200px) {
  /* Your CSS here */

  
.my-acchievements-box{
 position: relative;
 z-index: 5;
 width: 100%;
 height: 100px;}

.box-content{
   position: absolute;
   bottom: -60px;
   width: 100%;}

}
